/**MIXINS**/
/**EXTEND**/
.titulos h1, .titulos h2 {
  background: #403B4A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(-45deg, #E1BB8AE3, #654F3C4A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-45deg, #E1BB8AE3, #654F3C4A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  filter: drop-shadow(2px 1px 1px #5C573E);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center; }

button.principal::before, button.principal::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }

/**--------**/
/**VARIABLES**/
/**--------**/
* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth;
  height: 100%; }

header {
  z-index: 1;
  position: fixed;
  top: 0;
  background-color: black;
  box-shadow: 4px 5px 9px -4px black; }
  header ul {
    word-spacing: 10px;
    text-align: center; }
    header ul li {
      list-style: none;
      word-spacing: 10px;
      font-family: 'Lato', sans-serif;
      font-size: 12.3px;
      font-weight: 700;
      letter-spacing: 0.2px;
      display: inline-block;
      padding: 1px; }

nav li a:after {
  display: block;
  content: "";
  border-bottom: solid 1px #ffffff;
  width: 85%;
  border-radius: 1px;
  transform: scaleX(0);
  transition: transform 290ms ease-in-out;
  transform-origin: 100% 50%; }

nav li a:hover:after {
  transform: scaleX(1);
  transform-origin: 0 50%;
  text-decoration: none; }

nav li a:link {
  color: #ffffff;
  text-decoration: none; }

nav li a:visited {
  color: #ffffff;
  text-decoration: none; }

.burger {
  color: white;
  font-size: 27px; }

.nav2 {
  padding: 0px; }

body {
  position: relative;
  margin: 0;
  height: 100%; }

a {
  text-decoration: none;
  text-transform: uppercase; }

.logo {
  transition: opacity 200ms; }
  .logo:hover {
    opacity: 0.7; }

/*---ALERTA Y MODAL---*/
.alerta {
  padding: 5px;
  font-size: 14px;
  font-family: 'Lato', serif;
  color: #B08F7A;
  font-weight: 400;
  letter-spacing: 1px;
  padding-left: 13px;
  vertical-align: text-bottom; }

.alertaInfo {
  font-family: 'Lato', serif;
  font-weight: 400;
  font-size: 14px;
  vertical-align: middle; }

.cerrarAlerta {
  font-size: large; }

.iconos {
  font-size: 20px;
  color: #2E3532; }

p.modalTitle {
  color: #2E3532;
  word-spacing: 2px;
  font-family: 'Lora', serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: justify; }

.modalP {
  color: #AD8A64;
  word-spacing: 2px;
  font-family: 'Lora', serif;
  font-weight: lighter;
  font-size: 17px;
  letter-spacing: 0.2px;
  text-align: justify; }

.firma {
  font-family: 'Homemade Apple', cursive;
  font-size: 40px;
  text-align: center;
  margin-top: 10px; }

/*---- INDEX ----*/
.titulos h1 {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 10px;
  animation: ease-in-out;
  animation-duration: 5s;
  animation-name: titulo; }

@keyframes titulo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.titulos h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 3px;
  animation-duration: 7s;
  animation-name: subtitulo; }

@keyframes subtitulo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#home {
  padding-top: 67px;
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../imagenes/fondoindex1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 100vh; }

.icono {
  font-size: 20px;
  vertical-align: text-bottom; }

button.principal {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  transition: 0.3s ease-in-out;
  animation-duration: 3s;
  animation-name: boton;
  color: white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border: 1px solid white;
  overflow: hidden;
  padding: 10px; }

button.principal a {
  color: #333333;
  text-decoration: none;
  display: block; }

button.principal::before {
  -webkit-transform: translate(13%, 190%) rotate(-30deg);
  transform: translate(13%, 190%) rotate(-30deg); }

button.principal::after {
  -webkit-transform: translate(-13%, -190%) rotate(-30deg);
  transform: translate(-13%, -190%) rotate(-30deg); }

button.principal::before {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

button.principal:hover::before, button.principal:hover::after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

@keyframes boton {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

button.principal:hover {
  background-color: black;
  text-decoration-color: white;
  border-color: black; }

.botonIndex a:hover {
  text-decoration: none;
  color: #F8F7F9; }

.botonIndex a:active {
  text-decoration: none;
  color: #F8F7F9; }

.botonIndex a:link {
  text-decoration: none;
  color: #F8F7F9; }

.botonIndex a:visited {
  text-decoration: none;
  color: #F8F7F9; }

.botonIndex {
  opacity: 0.4;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 15px; }

/*---RESTO---*/
.elResto {
  padding-top: 4em;
  padding-bottom: 4em; }

.elResto h2 {
  color: #003D5B;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 47px; }

.elResto h3 {
  color: #003D5B;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 27px;
  margin-bottom: 45px; }

.elResto p {
  color: #5A5766;
  text-align: justify;
  font-family: 'Lora';
  font-weight: 400;
  font-size: 20px; }

.logoResto {
  text-align: center; }

.imgResto img {
  margin-bottom: 10px; }

.restoFlex {
  display: flex; }

/*---MENU---*/
.menu {
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../imagenes/crepes.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%; }

.menuImg {
  text-align: center; }

.menuImg img {
  height: calc(100vh - 100px);
  margin-top: 20px; }

/*---RESERVAS---*/
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer; }

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px; }

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent; }

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.popuptext {
  font-family: 'Lato', sans-serif;
  font-size: 12px; }

.reservas {
  position: relative;
  margin-top: 45px;
  margin-bottom: 60px; }

.horarios {
  text-align: left;
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 3px;
  word-spacing: 1.2px;
  text-transform: uppercase;
  padding-bottom: 15px; }

.reservasTitle {
  color: white;
  text-align: left;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 1px;
  padding-top: 22px; }

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; }

.botonReserve input {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 6px 15px; }

#reserva {
  margin-bottom: 80px; }

.tipoReserva {
  margin-bottom: 25px; }
  .tipoReserva .btn {
    background: #00000099; }
  .tipoReserva label {
    position: relative;
    font-size: 15px;
    word-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 6px 15px; }

/*---CONTACTO---*/
h4.redesTitle {
  color: #003D5B;
  text-align: left;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 47px;
  padding-left: 20px; }

.contacto p {
  font-family: 'Lora';
  text-align: left;
  padding-left: 20px; }

.contacto article {
  width: 50%;
  float: left; }

.mapa {
  background-color: #ffff;
  text-align: left;
  width: 50%;
  height: 600px;
  float: left; }

.redesSociales {
  text-align: center;
  margin-top: 10px;
  word-spacing: 7px; }

/*---GALERIA DE FOTOS---*/
.galeriaTitle {
  color: #003D5B;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 47px;
  padding-left: 20px;
  margin-top: 50px;
  margin-bottom: 60px; }

section.galeria {
  margin-bottom: 80px; }

.galeriaImg figure img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 100%; }
  .galeriaImg figure img:hover {
    opacity: .5; }

/*---FOOTER---*/
footer {
  background-color: #7979793b;
  width: 100%; }

/**NAVBAR MQ**/
/**INDEX MQ**/
@media (max-width: 575.98px) {
  .titulos h1 {
    font-size: 75px; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  .titulos h1 {
    font-size: 95px; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .titulos h1 {
    font-size: 105px; } }

@media (min-width: 965px) {
  .titulos h1 {
    font-size: 120px; } }

@media (min-width: 1200px) {
  .titulos h1 {
    font-size: 150px; } }

@media (max-width: 576px) {
  .titulos h2 {
    font-size: 13px; } }

/**EL RESTO MQ**/
