/**EXTEND**/
%estiloTitulos {
	background: #403B4A;  /* fallback for old browsers */
	background: -webkit-linear-gradient(-45deg, #E1BB8AE3, #654F3C4A);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(-45deg, #E1BB8AE3, #654F3C4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	filter: drop-shadow(2px 1px 1px #5C573E);
	background-size: 100%;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
}

%animacionBoton {
	content: '';
	position: absolute; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: 1;
	background-color: #e1bb8a8f;
	@include transicionBotones (all, 0.3s, cubic-bezier(0.75, 0, 0.125, 1) )
}

/**--------**/