/**VARIABLES**/

$colorAzulTexto: #003D5B;
$colorHoverIndex: #F8F7F9;
$colorAlerta: #B08F7A;
$colorModalIconos: #2E3532;
$colorModalTexto: #AD8A64;
$colorTextoResto: #5A5766;
$backgroundColorFooter: #7979793b;

/**--------**/